.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Playfair Display', serif;
}

.logo {
    width: 30%;
    text-align: center;
    background-color: black;
    height: 65px;
}

.logopic {
    display: inline-block;
    text-align: justify;
    text-align: start;
    width: 40px;
    padding: 5%;
}

nav {
    width: 70%;
    height:65px;
    background-color: black;
    font-family: 'Playfair Display', serif;
    margin-left: -4px;
}

ul {
    width: auto;
    color: white;    
}

li {
    margin: 0 auto;
    padding: 5px 10px;
}

.heroImg {
    height: 25%;
    padding: 25px;
}

.hero {
    height: 300px;
}

.content {
    width: 400px;
    padding: 2%;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
    font-size: small;
    box-shadow: 20px 20px 60px 10px pink inset;
}

footer {
    background-color: #373738;
    padding: 25px;
}

footer>ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: white;
    width: auto;
    font-family: 'Playfair Display', serif;
}

/* UX UI HW 18 Starts here */

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.outerDiv {
    display: flex;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    margin: 3%;
    padding: 1%;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.flexContainer>h3 {
    text-align: center;
    width: 100%;
}

.skillChip {
    display: inline-block;
    padding: 10px 20px;
    margin: 2px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    font-size: smaller;
    background: #F4F7FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* <!--  My UX Skills section coded using CSS flex --> */

.workGrid {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "img csa"
        "img2 mhs"
        "img3 cs3";
    align-items: center;
    justify-content: center;
}

.csaImg {
    grid-area: img;
    margin: 3%;
}

.csaImg>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 14px;
}

.gridImg2 {
    grid-area: img2;
    margin: 5%;
    border-radius: 14px;
}

.gridImg2>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#CSA {
    grid-area: csa;
    margin: 5%;

}

#mhs {
    grid-area: mhs;
    margin: 5%;
}


/* <!-- My Work Section Constructed using CSS Grid --> */

@media only screen and (max-width: 600px) {
    .outerDiv {
        flex-direction: column;
    }
    .flexContainer> * {
        width: 100%;
    }
    .workGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (6, 1fr);
        grid-template-areas:
            "img" 
            "csa"
            "img2"
            "mhs"
            "img3" 
            "cs3";
        align-items: center;
        justify-content: center;
    }
}