.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Playfair Display', serif;
}

.logo {
    display: inline-block;
    width: 25%;
    padding: 1%;
    text-align: center;
    background-color: black;
}

.logopic {
    display: inline-block;
    width: 15%;
}

nav {
    width: 70%;
    padding: 1%;
    height: fit-content;
    background-color: black;
    font-family: 'Playfair Display', serif;
}

ul {
    width: 70%;
    margin-left: auto;
    color: white;
}
li {
   margin: 0 auto;
   padding: 5px 10px ; 
}

.heroImg {
    height: 25%;
    padding: 25px;
}

.hero {
    height: 400px;
}

.content {
    width: 500px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 20px 20px 60px 10px pink inset;
}

footer {
    background-color: #373738;
    padding: 25px;
}

footer>ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: white;
    width: auto;
    font-family: 'Playfair Display', serif;
}

/* UX UI HW 18 Starts here */

h1 {
    text-align: center;
}

.outerDiv {
    display: flex;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    margin: 3%;
    padding: 1%;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.skillChip {
    display: inline-block;
    padding: 10px 20px;
    margin: 2px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #F4F7FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* <!--  My UX Skills section coded using CSS flex --> */

.workGrid {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "img heading"
    "img descr"
    "img CTA"
    "img2 heading2"
    "img2 descr2"
    "img2 CTA2";
}

.csaImg {
    grid-area: "img";
    margin: 5%;
}
.csaImg>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}
.gridImg2 {
    grid-area: "img2";
    margin: 5%;
}
.gridImg2>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;

}
.csa {
    grid-area: heading;    
    margin: 5%;

}
.csaP {
    grid-area: descr;
    margin: 5%;

}
.mhs {
    grid-area: heading2;
    margin: 5%;

}
.mhsP {
    grid-area: descr2;
    margin: 5%;

}
